<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
</head>

<body bgcolor="#FFCCFF" background="bg_tile.gif" style="font-family:'MS Gothic',Osaka,sans-serif;">
    <center>
        <table width="100%" border="0">
            <tr>
                <td align="left">
                    <img src="title_kirakira.gif" alt="キラキラタイトル" height="48">
                </td>
                <td align="center">
                    <font face="MS Gothic" size="6" color="#FF0000">
                        <blink>画像アップロード☆ホームページ</blink>
                    </font>
                </td>
                <td align="right">
                    <img src="under_construction.gif" alt="工事中" height="32">
                </td>
            </tr>
        </table>
        <marquee bgcolor="#00FF00" scrollamount="8" width="90%">
            <font color="#0000FF" face="MS Gothic">BBS・アップローダ新設！ <img src="new.gif" alt="NEW"></font>
        </marquee>
    </center>
    <bgsound src="bgm_sample.mid" loop="infinite">
        <embed src="bgm_sample.mid" autostart="true" hidden="true">
</body>

</html>