<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
</head>

<body bgcolor="#CCFFCC" background="bg_tile.gif" style="font-family:'MS Gothic',Osaka,sans-serif;">
    <center>
        <font size="4" color="#006600"><b>Menu</b></font>
        <table border="1" bgcolor="#FFFFFF" width="100%" cellpadding="3">
            <tr>
                <td align="center"><a href="main.html" target="main">画像アップロード</a></td>
            </tr>
            <tr>
                <td align="center"><a href="bbs.html" target="main">BBS(掲示板)</a></td>
            </tr>
            <tr>
                <td align="center"><a href="chat.html" target="main">チャット</a></td>
            </tr>
            <tr>
                <td align="center"><a href="link.html" target="main">リンク集</a></td>
            </tr>
            <tr>
                <td align="center"><a href="profile.html" target="main">管理人プロフ</a></td>
            </tr>
        </table>
        <br>
        <img src="counter.gif" alt="カウンター"><br>
        <img src="banner_88x31.gif" alt="バナー" style="margin:4px;"><br>
        <img src="under_construction.gif" alt="工事中"><br>
        <br>
        <font size="1">
            【素材は<a href="https://sozaiya.example.com" target="_blank">○○素材屋</a>様】<br>
            リンクフリー／無断リンク禁止
        </font>
    </center>
</body>

</html>